<!DOCTYPE html>
<html>
<head>
	<title>user-courses</title>
</head>
<body>
<form action = "{% url 'my_user_course' %}" method = 'post'>
{% csrf_token %}
	<select name ="user">
		<option disabled selected>User</option>
	{% for user in users %}
		<option value= "{{user.id}}">{{ user.first_name }} {{ user.last_name }}</option>
	{% endfor %}
	</select> 
	<select name="course">
		<option disabled selected>Course </option>
	{% for course in courses %}
		<option value = "{{ course.id}}">{{ course.name }}</option>
	{% endfor %}
	</select> 
	<input type='submit' value=" Add Course User" name="submit"> 
	<table>
		<tr>
			<th>Course Title</th>
			<th>Number of Users</th>
		</tr>
		<td>
			{% for course in courses %}
			<p> {{ course.name }} </p>
			{% endfor %}
		</td>
		<td>
			{% for course in count %}
				<p>{{course.num_users}}</p>
			{% endfor %}
		</td>
	</table>
</form>
<form action = "{% url 'my_course_index' %}" method='post'>
{% csrf_token %}
	<input type='submit' value='Go Back'>
</form>

</body>
</html>